.homePage {
    width: 90%;
    height: 100%;
   
    margin: auto;
    margin-top: 50px;
    .searchBox {
        height: 100px;
        
       
    }
    .cardList {
        display: flex;
        justify-content: space-between;
    }
}