.box {
    display: flex;
    justify-content: center;
    height: 10%;
    .title {

        line-height: 38px;
     
    }
    .loginBtn {
        position: relative;
        left: 600px;
    }
    .regBtn {
        position: relative;
        left: 600px;
    }
    .userInfo {
        position: relative;
        left: 600px;
    }
}