.box {
    display: flex;
    justify-content: center;
    height: 10%;
    .btnBox {
        display: flex;
    }
    .title {

        line-height: 38px;
     
    }
    .loginBtn {
        position: relative;
        left: 600px;
    }
    .regBtn {
        position: relative;
        left: 600px;
    }
    .userInfo {
        position: relative;
        left: 600px;
    }
    .btnBox {
        margin-left: 100px;
    }
}
.box Button {
    height: 53px;
    margin-top: 0px;
}